@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@custom-variant dark (&:where(.dark, .dark *));
:root {
   --font-sans: var(--font-inter), system-ui, sans-serif;
  --bg-main: hsl(0, 9%, 98%);
  /* Surfaces */
  --bg-card: #ffffff;
  --bg-sidebar: #ffffff;
  --bg-navbar: #ffffff;
  --sidebar-accent: oklch(0.97 0 0);
  /* Borders */
  --border-color: #e5e7eb;

  /* Text */
  --text-primary: #1f2937;
  --text-secondary: hsl(210, 3%, 12%);
  --bg-input: #f9fafb;
  --button-secondary: #1a8cd7;
  /* Table */
  --table-heading: #f3f4f6;
  --main-primary: #1a8cd7;
  --main-primary-hover: hwb(210 3% 38%);
  --button-primary: #1a8cd7;
  --button-accent: hwb(210 3% 38%);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border-b: rgba(86, 87, 122, 1);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}
.dark {
  --bg-main: #000000;
  --bg-card: #222125;
  --bg-sidebar: #343537;
  --bg-navbar: #1e293b;
 
  --bg-input: #ffffff;
  --border-b: rgba(86, 87, 122, 1);
  --bg-secondary: rgba(18, 19, 21, 1);
  --border-color: #6b6b6b;
  --sidebar-accent: hwb(120 34% 65%);
  --text-primary: #f1f5f9;
  --text-secondary: hsl(240, 1%, 35%);
  --bg-modal: rgba(45, 45, 45, 1);
  --table-heading: #1e293b;
  --button-primary: #292a29;
  --button-accent: hsl(120, 1%, 34%);
  --button-secondary: #ffffff;

  --main-primary: hsl(120, 1%, 34%);
  --main-primary-hover: #292a29;
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
   --font-sans: var(--font-sans);
  --color-background: var(--bg-main);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --color-card: var(--bg-card);
  --color-sidebar: var(--bg-sidebar);
  --color-navbar: var(--bg-navbar);
  --color-border-b: var(--border-b);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-border: var(--border-color);
  --color-background-secondary: var(--bg-secondary);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-button-primary: var(--button-primary);
  --color-button-secondary: var(--button-secondary);
  --color-main-primary: var(--main-primary);
  --color-main-primary-hover: var(--main-primary-hover);
  --color-button-accent: var(--button-accent);
  --color-table-heading: var(--table-heading);
  --color-modal: var(--bg-modal);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-input-box: var(--bg-input);
  --color-sidebar-border: var(--sidebar-border);
  
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-chart-5: var(--chart-5);

  --color-chart-4: var(--chart-4);

  --color-chart-3: var(--chart-3);

  --color-chart-2: var(--chart-2);

  --color-chart-1: var(--chart-1);

  --color-ring: var(--ring);

  --color-input: var(--input);

  --color-destructive: var(--destructive);

  --color-accent-foreground: var(--accent-foreground);

  --color-accent: var(--accent);

  --color-muted-foreground: var(--muted-foreground);

  --color-muted: var(--muted);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-secondary: var(--secondary);

  --color-primary-foreground: var(--primary-foreground);

  --color-primary: var(--primary);

  --color-popover-foreground: var(--popover-foreground);

  --color-popover: var(--popover);

  --color-card-foreground: var(--card-foreground);

  --color-foreground: var(--foreground);

  --radius-sm: calc(var(--radius) * 0.6);

  --radius-md: calc(var(--radius) * 0.8);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) * 1.4);

  --radius-2xl: calc(var(--radius) * 1.8);

  --radius-3xl: calc(var(--radius) * 2.2);

  --radius-4xl: calc(var(--radius) * 2.6);
}

body{
  font-family: var(--font-sans);
}


@layer components {
  .sidebar {
    @apply bg-sidebar/70 backdrop-blur-xl;

    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.06) 0%,
      rgba(255, 255, 255, 0.02) 40%,
      rgba(0, 0, 0, 0.2) 100%
    );

    box-shadow:
      0 20px 40px rgba(0, 0, 0, 0.25),
      inset 0 1px 0 rgba(255, 255, 255, 0.05);
  }
}

.menu-button {
  @apply flex items-center gap-3 px-3 py-2 rounded-md transition text-sm font-medium w-full;
}
/*register it as a part of utility stystem*/
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
/* .menu-button:hover{
    @apply bg-sidebar-accent 
  } */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
   
  }
  html {
    @apply font-sans;
  }
}
